@font-face {
  font-family: BigJohn;
  src: url(./fonts/BIGJOHN.otf);
}
@font-face {
    font-family: OpenSansR;
    src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSansB;
    src: url(./fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: SourceSansProL;
    src: url(./fonts/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: SourceSansProR;
    src: url(./fonts/SourceSansPro-Regular.ttf);
}
body{
    font-family:OpenSansR;
}
h3 {
    font-family:SourceSansProR;
    text-transform: uppercase;
    font-size: 20px;
    color: #333b46;
    letter-spacing: 4px;
}
header{
    background:url("../images/main_bg.jpg") no-repeat center;
    background-size: cover;
    color: #ffffff;
    padding: 16% 0 24% 0;
    position: relative;
}
header a, header a:hover, header a:visited{
    color: #ffffff;
}
.navbar{
    margin: 20px 0 0 0;
    border: none;
}
.navbar-nav{
    padding: 10px 0;
}
.navbar-nav > li > a{
    padding: 5px 20px;
    font-size: 16px;
}

.nav > li > a:hover, .nav > li > a:focus{
    background: none;
}
.nav li a.active{
    background: none;
    padding: 4px 19px;
    border: 1px solid #ffffff;
    border-radius: 40px;
}
.navbar-brand{
    font-family: BigJohn;
    font-size:25px;
    line-height: 13px;
}
header h1{
    font-size: 35px;
    font-family:SourceSansProL;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 8px;
}
header p{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
}
.read-more{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    display: inline-block;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    background: #19bd9a;
}
.read-more span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* first section */
#about{
    padding: 5% 0 5% 0;
}
#about h3{
    margin-bottom: 45px;
}
.under-header{
    font-family:OpenSansR;
    color: #81868e;
    line-height: 25px;
    font-size: 16px;
}
#about p{
    letter-spacing: 1px;
    line-height: 20px;
    color: #81868e;
    margin-bottom: 45px;
}
#about a{
    color: #333b46;
    border: 1px solid #333b46;
    border-radius: 20px;
    padding:10px 30px;
}
/* second section */
.details-about{
    background: #f3f3f3;
    padding-top: 6%;
}
.details-about h3{
    margin-top: 0;
    margin-bottom: 35px;
}
.details-about p{
    margin-bottom: 60px;
}
.details-about ul{
    list-style-type: none;
    padding: 0;
    margin: 0 0 50px 0;
}
.details-about ul li{
    display: inline-block;
    background: #81868e;
    border-radius: 100%;
    padding: 5px;
}
.details-about ul li:not(:last-child){
    margin-right: 27px;
}
.details-about ul li.active{
    background: #19bd9a;
}
.details-about h5{
    font-size: 20px;
    color: #464646;
    margin-bottom: 30px;
}
.creative-ideas{
    font-size:16px;
    letter-spacing: 1px;
    line-height: 25px;
}
.green-b{
    color: #19bd9a;
    font-family:OpenSansB;
}
.black-b{
    color: #636971;
    font-family:OpenSansB;
}
.featured-project{
    padding: 75px 0 35px 0;
}
.featured-project h3{
    margin: 0 0 35px 0;
}
.featured-work{
    display: flex;
}
.featured-work img:first-child{
    flex-basis: 50%;
}
.featured-work img + img{
    flex-basis: 25%;
}